


  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Bucket Detail</h5>
  
            <div class="row">
              <div class="col">
                <p>Name</p>
              </div>
              <div class="col">
                <p>Last modified</p>
              </div>
            </div>


            <div>
                <label for="fileInput" class="btn btn-success">Upload Object</label>
                <input type="file" id="fileInput" style="display:none;" (change)="onFileSelected($event)" />
            </div>
            
  
            <ul class="list-group">
              @for (file of bucketSignal().files; track file) {
              <li class="list-group-item">
                <div class="row">
                  <div class="col">
                    <p>{{ file }}</p>
                  </div>
                  <div class="col">
                    <p>{{ bucketSignal().location }}</p>
                  </div>
                  <div class="col">
                    <button class="btn btn-danger" (click)="deleteFile(bucketId, file)">Delete</button>
                  </div>
                </div>
              </li>
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  