
<header class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">MyNewStorage </a>
    </div>
</header>

<!-- Main Content Area -->
<main class="flex-grow-1">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>

<!-- Footer -->
<footer class="footer fixed-bottom bg-light">
  <div class="container text-center">
    <span class="text-muted">&copy; 2024 MyNewStorage. All rights reserved.</span>
  </div>
</footer>

