<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Create Bucket</h5>
            <nav>
              <button class="btn btn-primary" routerLink="/cloudstorage" type="submit">Create Bucket</button>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <h5 class="card-title">All Buckets</h5>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let bucket of buckets">
            {{ bucket.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>